In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("companies-invested-in-shark-tank-brazil/data_shark_tank_brazil.csv")

In [5]:
df.head()

,company,episode,season,start_season,end_season,proposal_value,proposal_participation,proposal_valuation,agreement_value,agreement_participation,agreement_conditions,agreement_type,agreement_valuation,number_investors,name_investors
0,Gourmetzinho,1,1,2016-10-10,2017-01-26,500000,0.2,2500000.0,600000.00,0.6,no,participation,1000000,3,João Appolinário + Robinson Shiba + Sorocaba
1,Revo Foot,1,1,2016-10-10,2017-01-26,400000,0.2,2000000.0,0,0.0,no,no investment,-,0,no investment
2,Velo,1,1,2016-10-10,2017-01-26,400000,0.2,2000000.0,400000.00,0.5,no,participation,800000,2,Camila Farani + Cristiana Arcangeli
3,Bosta em Lata,1,1,2016-10-10,2017-01-26,150000,0.3,500000.0,0,0.0,no,no investment,-,0,no investment
4,Mana Manutenção,2,1,2016-10-10,2017-01-26,100000,0.1,1000000.0,100000.00,0.5,no,participation,200000,3,Camila Farani + Cristiana Arcangeli + Robinson...

In [11]:
df.dtypes

company                     object
episode                      int64
season                       int64
start_season                object
end_season                  object
proposal_value               int64
proposal_participation      object
proposal_valuation         float64
agreement_value             object
agreement_participation    float64
agreement_conditions        object
agreement_type              object
agreement_valuation         object
number_investors             int64
name_investors              object
dtype: object